*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    background-image: -webkit-gradient(linear,
                    40% 0%,
                     75% 84%,
              from(rgb(0, 0, 0)),
              to(rgb(7, 13, 8)),
              color-stop(.8, rgb(17, 24, 17)))
}


.main{
    width: 100%;
    background-position: center;
    background: linear-gradient(to top, rgba(0,0,0,0.3)10%,rgba(0,0,0,0.3)10%), url(img/background.jpg);
    background-size: cover;
    height: 100vh;
}
.navbar{
    top: 0;
    background-color: #252525;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.main h3{
    color: white;
    letter-spacing: 2px;
    padding-top: 450px;
    padding-left: 25px;
    font-size: 35px;
    font-family: 'Georgia';
}
.btn{
    background-color: red;
    color: #fff;
    height: 50px;
    width: 130px;
    margin-left: 35px;
    border-radius: 50px;
    opacity: 0.8;
    font-size: 20px;
    margin-top: 30px;
    
}


.icon img{
    width: 120px;
    height: 120px;  
    padding-left: 20px;
}
.headD ul{
    display: flex;
    list-style: none;
    margin-right: 35px;
}
.headD ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1re;
    font-family: Arial;
    font-weight: bold;
    padding-right: 1.2em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.headD ul li a:hover{
    color: red;    

}
  
hr{
    margin-top: 10px;
    opacity: 0.2;
}
.container{
    background-color: #252525;
    color: #fff;
    width:100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    margin: 1rem 0;
}
.timer-container{
    margin-top: 2rem;
    border: 1px solid white;
    width: 100%;
    padding: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
}
.timer-container p{
    margin: 0 0.9rem;
}
.colums{
    font-size: 2rem;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.content h2{
    text-align: center;
}
.handguns{   
    position: relative;  
    color: whitesmoke;
    margin-left: 240px;
    margin-top: 17px;
    
}
.handguns img{
    width: 330px;
    height: 360px;   
}

.centered {
    position: absolute;
    top: 30%;
    transform: translate(35%, 110%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
  }
  .centered1 {
    position: absolute;
    top: 30%;
    transform: translate(20%, 350%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
    opacity: 0.8;
  }
  .assaultrifles{   
    position: relative;  
    color: white;
    margin-left: 40px; 
    margin-top: 17px;
}
  .assaultrifles img{
    width: 330px;
    height: 360px;  
  }
.ar {
    position: absolute;
    top: 30%;
    transform: translate(12%, 110%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
  }
  .ar1 {
    position: absolute;
    top: 30%;
    transform: translate(18%, 350%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.9px 0.9px #fff;
    opacity: 0.8;
  }
  .shotguns{
    position: relative;  
    color: white;
    margin-left: 40px; 
    margin-top: 17px;
    
  }
  .shotguns img{
    width: 330px;
    height: 360px;   
}
.sh{
    position: absolute;
    top: 30%;
    transform: translate(33%, 110%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
  }
  .sh1 {
    position: absolute;
    top: 30%;
    transform: translate(18%, 350%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.9px 0.9px #fff;
    opacity: 0.8;
  }
.ammo{
    position: relative;  
    color: white;
    margin-left: 215px;
    margin-top: 17px;
}
  .ammo img{  
    width: 250px;
    height: 330px;
    opacity: 0.9;      
  }
  .ammoo{
    position: absolute;
    top: 30%;
    transform: translate(6%, 150%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
  }
.optics{
    position: relative;  
    color: white;
    margin-left: 40px; 
    margin-top: 17px;

}
  .optics img{
    width: 250px;
    height: 330px;  
    opacity: 0.9; 
}
    .opt{
    position: absolute;
    top: 30%;
    transform: translate(50%, 150%);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
}
.accessories{
    position: relative;  
    color: white;
    margin-left: 40px; 
    margin-top: 17px;
}
.accessories img{
    width: 250px;
    height: 330px;     
}
.acc{
    position: absolute;
    top: 30%;
    transform: translate(6%, 150%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
}
.gear{
    position: relative;  
    color: white;
    margin-left: 40px; 
    margin-top: 17px;
}
.gear img{
    width: 250px;
    height: 330px;     
}
.gr{
    position: absolute;
    top: 30%;
    transform: translate(70%, 150%);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow:   0.9px #fff;
}